<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <header>
    <a href="Show" >  <img class="logo" src="images/About-us/easy.jpg"> </a>   
        <nav>
            <ul class="navlinks">
                <li><a href="Show"  >HOME</a></li>
                    <li><a href="Property"     >PROPERTY
                    </a></li>
                    <li><a href="Agent" >AGENTS</a></li>
                    <li><a href="Aboutus" >CONTACT US</a></li>
            </ul>
        </nav>
        <a class="cta" href="index"><button class="login">LOGIN</button></a>
    </header>
    <main>
        <span>
            <div class="line">

                <h1>About Us</h1><br>
                <p>We are a team of real estate professionals offering high-quality services for finding and acquiring
                    properties around the world. Our mission is to help you discover the perfect place to live, work, or
                    vacation in any corner of the globe.
                </p>
                <br>
                <p>We take pride in our partnerships with leading real estate agencies and construction companies
                    worldwide, allowing us to offer our clients the widest selection of properties at the best prices.
                </p>
                <br>
                <p>Our goal is to provide you with all the necessary information, support, and expert guidance at every
                    stage of the property buying or renting process. We strive for excellence in customer service and
                    make every effort to ensure your experience with us is enjoyable and satisfying.</p><br>
                <p>Join us today and let us help you fulfill your dream of the perfect home anywhere in the world.</p>
                <a href="#"><button class="getintouch">Get in Touch</button></a>
            </div>
            <div class="img line">
                <img src="images/About-us/property.svg" alt="">
            </div>

        </span>

        <span class="span2">
            <div class="img2 line2">
                <img src="images/About-us/pic2.png" alt="">
            </div>
            <div class="mission line2">
                <h1>Our Mission</h1><br><br>
                <p>Our mission is to inspire and empower individuals to reach their full potential, create meaningful
                    connections, and make a difference in the world. Through our dedication to excellence, integrity,
                    and social responsibility, we aim to lead by example and drive positive change in our communities
                    and beyond.</p>
                <br>
                <P style="color: rgb(89, 89, 205);">
                    " Together, we can turn dreams into reality and shape a future filled with endless possibilities. "
                </P>
            </div>

        </span>

        <span class="span-team" id="nichehoja">
            <h1>Our Team</h1><br>
            <p class="team-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat animi maiores sint modi doloribus accusamus voluptatem hic blanditiis, rerum maxime incidunt tempore corporis. Minima, ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis rem ipsa molestias, accusantium distinctio vitae.</p>
            <div class="team">
                <img src="images/About-us/contact-2.png" alt=""><br>
                Kesarwani
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, deleniti?</p>
            </div>
            <div class="team">
                <img src="images/About-us/contact-2.png" alt=""><br>
                Pandey
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, similique?</p>
            </div>
            <div class="team">
                <img src="images/About-us/contact-2.png" alt=""><br>
                Maurya
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, similique?</p>
            </div>
            <div class="team">
                <img src="images/About-us/contact-2.png" alt=""><br>
                Mishra
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, similique?</p>
            </div>
        </span>

        <span class="span3">
          
            <div class="line3 touch">
                <h1>Get in Touch</h1>
                <form action="" target="_blank" class="form-group">
                    <label for="fname">Name:</label>
                    <input type="text" id="fname" name="fname" class="getintouchform" placeholder="Enter Your Name"><br>
                    <label for="fname">Email:</label>
                    <input type="email" id="fname" name="fname" class="getintouchform" placeholder="Enter Your Email"><br> <br>
                    <label for="subject" >Subject:</label><br>
                    <textarea name="message" rows="" cols="60" class="getintouchform2"></textarea><br> <br>
                    <label for="subject">Message:</label><br>
                    <textarea name="message" rows="8" cols="60" class="getintouchform2"></textarea><br>
                    <button>Submit Form</button>
                </form>
               
            </div>
            <div class="line3 contact">
                <h1>Contact Us</h1>
                <h3>Address</h3>
                212 Queen Street, Motherboard Windranger, USA
                <h3>Phone</h3>
                +36 8 0987 3456 <br>
                +36 8 1234 456
                <h3>Mail</h3>
                xya@gmail.com
            </div>



        </span>
    </main>

    <footer>
        <hr>
        <div class="fcuk">
            <div class="footer1">
                <img src="/images/emoji/logo1.jpg" class="man"><br>Find your place around the world
            </div>
            <div class="footer2">
                <h2>
                    <b>Quick Links</b>
                </h2>
                <br>
                <input class="b1" type="button" value="About Us"/><br>
                <input class="b1" type="button" value="Terms & Condition"/><br>
                <input class="b1" type="button" value="Private Policy"/><br>
                <input class="b1" type="button" value="Home"/><br>
                   <b>
                        Contact Us!
                    </b>
                </h2>
                info@gmail.com <br>
                UCER <br>
                Prayagraj <br>
                +91 8888888888
           
            </div> 
            <div class="f4">
                <h2><b>Follow Us</b></h2><br>
                <img class="emoji" src="images/About-us/facebook messenger.svg">
                <img src="images/About-us/instagram.svg" class="emoji">
                <img src="images/About-us/telegram.svg" class="emoji">
                <img src="images/About-us/youtube.svg" class="emoji"><br>
                <input type="text" placeholder="Email" class="nom">
                <button>Send</button>
            </div>
               
           <hr style="background-color: grey;">
           <h2 style="text-align: center;">@Copyright Homeo 2021</h2>
        <pre>   <h3 class="bye">                                                            &copy; 2024 RealEstateCo. All Rights Reserved.</h3></pre> 
        </div>
   
    </footer>           </div>
            <div class="footer3">
                <h2>




</body>

</html>