<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles3.css">
        <title>Copy</title>
    </head>
    <body class="er">

       
            <div class="header">
                <header>
             <a href="Show" >  <img class="logo" src="images/emoji/logo1.jpg"> </a>      
                <nav>
                    <ul class="navlinks">
                        <li><a href="Show"  >HOME</a></li>
                    <li><a href="Property"     >PROPERTY
                    </a></li>
                    <li><a href="Agent" >AGENTS</a></li>
                    <li><a href="Aboutus" >CONTACT US</a></li>
                    </ul>
                </nav>
                <a class="cta" href="index"><button>LOGIN</button></a>
                </header>
            </div>


            <!-- my file -->

            <marquee behavior="" direction="right" class="head34"> 
                  <h2>
                    <b>Xl Agents</b>
                </h2><br>
            </marquee>
          
            <div class="main">

            <!-- agent 1 -->
             <a href="page1"> 
               <div class="main2">
                 <img src="images/photo/1.jpg" class="image"><br>
            <h3 class="head"><b>Lana</b></h3><br>
            <div class="info">
               <p>&#128222  9839339844</p>
               <p>&#9993    gov.ac.in</p>
               <p>&#127968; 3 Properties</p>
            </div>
          </div>
          </a>
           <!-- 2 agent -->
           
            <a href="page2">
                <div class="main3">
                 <img src="images/photo/2.jpg" class="image"><br>
            <h3 class="head"><b>Yadav</b></h3><br>
            <div class="info">
               <p>&#128222  9877657783</p>
               <p>&#9993;   abc@gmail.com</p>
               <p>&#127968; 2 Properties</p>
            </div>
           
            </div></a>
            <!-- 3agent -->

            <a href="page3"> <div class="main3">
                 <img src="images/photo/3.jpg" class="image"><br>
            <h3 class="head"><b>Eren</b></h3><br>
            <div class="info">
               <p>&#128222  123456XXXX</p>
               <p>&#9993    aqaaqq@aq.aq</p>
               <p>&#127968; 3 Properties</p>
            </div>
            </div></a>

            <!-- 4agent -->

            <a href="page4">
               <div class="main3">
                 <img src="images/photo/4.jpg" class="image"><br>
            <h3 class="head"><b>Mikasa</b></h3><br>
            <div class="info">
               <p>&#128222  565656565656</p>
               <p>&#9993    iam@aq.aq</p>
               <p>&#127968; 3 Properties</p>
            </div>
            </div></a>

            <!-- 5agent -->
           
            <a href="page5">  <div class="main2">
                <img src="images/photo/5.jpeg" class="image"><br>
           <h3 class="head"><b>Robin</b></h3><br>
           <div class="info">
               <p>&#128222  4343434343</p>
               <p>&#9993    iamaa@aq.aq</p>
               <p>&#127968; 1 Properties</p>
           </div>
           </div></a>

           <!-- 6agent -->
            
          <a href="page6"> <div class="main3">
                <img src="images/photo/6.jpeg" class="image"><br>
           <h3 class="head"><b>Liza</b></h3><br>
           <div class="info">
               <p>&#128222  7743567798</p>
               <p>&#9993    iamabc@aq.aq</p>
               <p>&#127968; 1 Properties</p>
           </div>
          
           <!-- 7agent -->
           </div></a>
           <a href="page7"> <div class="main3">
                <img src="images/photo/7.jpeg" class="image"><br>
           <h3 class="head"><b>Armen</b></h3><br>
           <div class="info">
               <p>&#128222  698876867</p>
               <p>&#9993    iamxyz@aq.aq</p>
               <p>&#127968; 2 Properties</p>
           </div>
           </div></a>

           <!-- 8agent -->
          
           <a href="page8"> <div class="main3">
                <img src="images/photo/8.jpeg" class="image"><br>
           <h3 class="head"><b>Levi</b></h3><br>
           <div class="info">
               <p>&#128222  12234567890</p>
               <p>&#9993    America@aq.aq</p>
               <p>&#127968; 2 Properties</p>
           </div>
           </div></a><br><br>

           <!-- 9agent -->

    <a href="page9"> 
        <div class="main2">
            <img src="images/photo/9.jpg" class="image"><br>
            <h3 class="head">
            <b>Kami</b>
            </h3><br>
            <div class="info">
                 <p>&#128222  7776583097</p>
                 <p>&#9993    aq@savvaaq.aq</p>
                 <p>&#127968; 2 Properties</p>
             </div>
        </div>
    </a>
        </div>
        <br><br><hr>

        <!--footer -->

    <footer>
        <div>
            <div class="footer1">
                <img src="images/emoji/easy.jpg" class="logo34"><br>Find your place around the world
            </div>
            <div class="footer2">
                <h2>
                    <b>Quick Links</b>
                </h2>
                <input class="b1" type="button" value="About Us"/><br>
               <a href="term.html"> <input class="b1" type="button" value="Terms & Condition"/><br></a>
                <a href="privacy.html"><input class="b1" type="button" value="Privacy Policy"/><br></a>
                <input class="b1" type="button" value="Home"/><br>
            </div>
            <div class="footer3">
                <h2>
                    <b>
                        Contact Us!
                    </b>
                </h2>
                info@gmail.com <br>
                UCER <br>
                Prayagraj <br>
                +91 100 
           
            </div> 
            <div class="f4">
                <h2><b>Follow Us</b></h2><br>
                <img class="emoji" src="images/emoji/facebook messenger.svg">
                <img src="images/emoji/telegram.svg" class="emoji">
                <img src="images/emoji/youtube.svg" class="emoji"><br>
                <input type="text" placeholder="Email" class="w34">
                <button>Send</button>
            </div>
               
           <hr>
           <h2 style="text-align: center;">@Copyright Prime Estate 2021</h2>
        </div>
        
    </footer>
           
    </body>
</html>