<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles2.css">

</head>
<body>
    <div class="signup-box">
        <form method="get" action="/signupres" class="signup-form" >
            <img src="images/easy.jpg" alt=""><br>
    
         Name &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="gname" class="same-signup-button" placeholder="Enter Name"/> <br>
         Email &nbsp;&nbsp;&nbsp;&nbsp; <input  name="gemail" class="same-signup-button" placeholder="Enter Email" /> <br>
         Password <input type="password" name="gpassword" class="same-signup-button" placeholder="Enter Password" /> <br>
       <a href="Show.ejs" >  <input type="submit" name="b1" value="Sign-up" class="signup-button" />  </a>  <br>  
    
    
     </form>

    </div>
</body>
</html>