<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page 7</title>
    <link rel="stylesheet" href="css/About-inner-css/style1.css">
</head>
<body class="er">
    <!-- Devesh -->
    <div class="header">
        <header>
        <img class="logo" src="/images/emoji/logo1.jpg">
        <nav>
            <ul class="navlinks">
                <li><a href="Show"  >HOME</a></li>
                <li><a href="Property"     >PROPERTY
                </a></li>
                <li><a href="Agent" >AGENTS</a></li>
                <li><a href="Aboutus" >CONTACT US</a></li>

            </ul>
        </nav>
        <a class="cta" href="index"><button>LOGIN</button></a>
        </header>
    </div>


    <div class="main">
        <img src="/images/photo/7.jpeg" class="image">
        <div class="info">
            <h2>Armen</h2>
            <p>&#128222  698876867</p>
            <p>&#9993    iamxyz@aq.aq</p>
        </div><br>
        <div class="des">
            <h3><b>Description</b></h3>
            <p class="para">Since 2002, I have been a leading Homeo Real Estate Agent. With hundreds of past transactions, I am a well-regarded Realtor and an industry innovator. We take a team approach to real estate. Buying or selling a home is a complex, sophisticated and often deeply personal endeavor. The client deserves the full service and attention that only a team of experts can consistently provide.</p><br>
            <p class="para1">I attribute my success not only to my passion for real estate, but also to my intuition regarding the psychology of buying and selling. My clientele works in diverse industries with an emphasis on technology, finance, medicine, law, business and the arts. My business has grown successfully and consistently thanks to the repeat business of happy clients and their introductions to friends, family and neighbors. This track record is only possible because I deliver both results AND an enjoyable experience.</p>
        </div>
    </div>

    <!-- image 1 -->

    <div class="prop">
        <div class="prop1">
            <h2><b>2 Properties</b></h2><br>
        <img src="/images/property/71.jpeg" class="image1"><br>
        <h3 style="margin: 0px;"><b>Montrose Studio
            </b></h3><br>
            <p style="margin: 0px;">$250.000/ Buy</p>
        </div>

        <!-- image 2 -->

        <div class="prop2">
        <img src="/images/property/72.jpeg" class="image1"><br>
        <h3 style="margin: 0px;"><b>Lovely rental with pool
           </b></h3><br>
            <p style="margin: 0px;">$83/ Night </p>
        </div><br><br><hr>
<!-- footer -->

    <footer>
        <div>
            <div class="footer1">
                <img src="/images/emoji/logo1.jpg" class="logo34"><br>Find your place around the world
            </div>
            <div class="footer2">
                <h2>
                    <b>Quick Links</b>
                </h2>
                <input class="b1" type="button" value="About Us"/><br>
                <a href="term.html"><input class="b1" type="button" value="Terms & Condition"/><br></a>
               <a href="privacy.html"> <input class="b1" type="button" value="Privacy Policy"/><br></a>
                <input class="b1" type="button" value="Home"/><br>
            </div>
            <div class="footer3">
                <h2>
                    <b>
                        Contact Us!
                    </b>
                </h2>
                info@gmail.com <br>
                UCER <br>
                Prayagraj <br>
                +91 100 
           
            </div> 
            <div class="f4">
                <h2><b>Follow Us</b></h2><br>
                <img class="emoji" src="/images/emoji/facebook messenger.svg">
                <img src="/images/emoji/instagram.svg" class="emoji">
                <img src="/images/emoji/telegram.svg" class="emoji">
                <img src="/images/emoji/youtube.svg" class="emoji"><br>
                <input type="text" placeholder="Email" class="w34">
                <button>Send</button>
            </div>
               
           <hr>
           <h2 style="text-align: center;">@Copyright Prime Estate 2021</h2>
        </div>
        
    </footer>
</body>
</html>