<!DOCTYPE html>



    <html>
   
    <link  rel="styleSheet"  href="/css/property.css"  /> 


  <head>

   
     <title>Property-Page</title>

  </head>



8 
   <body>



     <div  class="Main" >
        <header>
          <a  href="Show" >  <img   class="logo" src="images/Property-im/easy.jpg"> </a> 
            <nav>
                <ul class="navlinks">
                    <li><a href="Show"  >HOME</a></li>
                    <li><a href="Property"     >PROPERTY
                    </a></li>
                    <li><a href="Agent" >AGENTS</a></li>
                    <li><a href="Aboutus" >CONTACT US</a></li>
                </ul>
            </nav>
            <a class="cta" href="index"><button>LOGIN</button></a>
        </header>
    

    <div class="Main2">

          <div class="Fx" >
            <div>   <img     class="Image1" src="images/Property-im/download.jpg" />    </div>
            <p class="para1" >Ely Parkway Apartment</p>
            <div  class="Price">
            <p  class="para2" >$50.0000</p>

            <a  href="Flrst" >  <button class="Buton1" >Visit</button></a>
             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
   
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/download (4).jpg" />    </div>
            <p class="para1" >Gorgeous Villa Bay</p>
            <div  class="Price">
            <p  class="para2" >$150.0000</p>
            <a  href="Second" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>

        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/download (3).jpg" />    </div>
            <p class="para1" >Luxury Family Home</p>
            <div  class="Price">
            <p  class="para2" >$25.0000</p>
            <a href="Third" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>


        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/download (5).jpg" />    </div>
            <p class="para1" >Astora House Premium111</p>
            <div  class="Price">
            <p  class="para2" >$175.0000</p>
            <a href="fourth" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images.jpg" />    </div>
            <p class="para1" >Entire home hosted by Tess</p>
            <div  class="Price">
            <p  class="para2" >$120.0000</p>
            <a href="Fifth" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (1).jpg" />    </div>
            <p class="para1" >Incredible home by the sea</p>
            <div  class="Price">
            <p  class="para2" >$250.0000</p>
            <a href="six" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (2).jpg" />    </div>
            <p class="para1" >Platinum Luxe Rental House
                </p>
            <div  class="Price">
            <p  class="para2" >$350.0000</p>
            <a href="seven" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (3).jpg" />    </div>
            <p class="para1" >A Place to Stay in the Heights</p>
            <div  class="Price">
            <p  class="para2" >$225.0000</p>
            <a href="Eight" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (5).jpg" />    </div>
            <p class="para1" >Estella Sta</p>
            <div  class="Price">
            <p  class="para2" >$120.0000</p>
            <a    href="Nine" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>

        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (6).jpg" />    </div>
            <p class="para1" >Montrose Studio</p>
            <div  class="Price">
            <p  class="para2" >$175.0000</p>
            <a  href="ten" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (7).jpg" />    </div>
            <p class="para1" >Lovely rental with pool</p>
            <div  class="Price">
            <p  class="para2" >$550.0000</p>
            <a href="Eleven" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (8).jpg" />    </div>
            <p class="para1" >Luxe suite</p>
            <div  class="Price">
            <p  class="para2" >$350.0000</p>
            <a  href="thirteen" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
   
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (9).jpg" />    </div>
            <p class="para1" >Treehouse l'Arbre</p>
            <div  class="Price">
            <p  class="para2" >$250.0000</p>
            <a href="twelve" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (10).jpg" />    </div>
            <p class="para1" >Luxury Villa</p>
            <div  class="Price">
            <p  class="para2" >$650.0000</p>
            <a  href="fourteen" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (11).jpg" />    </div>
            <p class="para1" >Pent House</p>
            <div  class="Price">
            <p  class="para2" >$750.0000</p>
            <a href="fifteen" >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (12).jpg" />    </div>
            <p class="para1" >Great Villa</p>
            <div  class="Price">
            <p  class="para2" >$850.0000</p>
            <a href="sixteen" >   <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>
        <div class="Fx" >
            <div>   <img  class="Image1" src="images/Property-im/images (13).jpg" />    </div>
            <p class="para1" >Apartment</p>
            <div  class="Price">
            <p  class="para2" >$425.0000</p>
            <a href="seventeen"  >  <button class="Buton1" >Visit</button></a>

             <p  class="Heart" >&#10084;</p>
        </div>
        </div>



        <div>

        </div>

        <div>

        </div>


    </div>




     </div>  
      
     <footer>
        <hr>
        <div class="fcuk">
            <div class="footer1">
                <img src="images/Property-im/easy.jpg" class="man"><br>Find your place around the world
            </div>
            <div class="footer2">
                <h2>
                    <b>Quick Links</b>
                </h2>
                <br>
                <input class="b1" type="button" value="About Us"/><br>
                <input class="b1" type="button" value="Terms & Condition"/><br>
                <input class="b1" type="button" value="Private Policy"/><br>
                <input class="b1" type="button" value="Home"/><br>
                   <b>
                        Contact Us!
                    </b>
                </h2>
                info@gmail.com <br>
                UCER <br>
                Prayagraj <br>
                +91 8888888888
           
            </div> 
            <div class="f4">
                <h2><b>Follow Us</b></h2><br>
                <img class="emoji" src="/images/emoji/facebook messenger.svg">
                <img src="images/emoji/instagram.svg" class="emoji">
                <img src="/images/emoji/telegram.svg" class="emoji">
                <img src="/images/emoji/youtube.svg" class="emoji"><br>
                <input type="text" placeholder="Email" class="nom">
                <button>Send</button>
            </div>
               
           <hr style="background-color: grey;">
           <h2 style="text-align: center;">@Copyright Homeo 2021</h2>
        <pre>   <h3 class="bye">                                                            &copy; 2024 RealEstateCo. All Rights Reserved.</h3></pre> 
        </div>
   
    </footer>           </div>
            <div class="footer3">
                <h2>
</body>
</html>

   </body>

    </html>